body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* The popup form - hidden by default */
.popup {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: wrap;
    z-index: 10000;
}

/* Add styles to the form container */
.popup-container {
  max-width: 500px;
  padding: 2rem;
  background-color: white;
  z-index: 10000;
}

div.scroll {
  background-color: rgb(253, 253, 253);
  padding: 2rem;
  width: inherit;
  height: 200px;
  overflow: auto;
}

/* Set a style for the submit/login button */
.popup-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.popup-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.popup-container .btn:hover, .open-button:hover {
  opacity: 1;
}